
@import 'bulma/css/bulma.css';

html { height: 100vh; }
body {
    min-height:100vh;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color:#3e8ed0

}

a {
  color: white;
}
.footer {
  margin-top: auto;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.scrolling-wrapper {
  overflow-x: scroll;
}
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


@-webkit-keyframes ticker {
  0% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: visible;
  }
  100% {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
  }
  @keyframes ticker {
  0% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  visibility: visible;
  }
  100% {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
  }
  .ticker-wrap {
  position: fixed;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  padding-left: 100%;

  }

  .ticker {
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 30s;
  animation-duration: 20s;
  }
  .ticker__item {
  display: inline-block;
  padding: 0 2rem;
  font-size: 1.75rem;
  }

