
html { height: 100%; }
body {
    min-height:100%;
    position:relative;
    padding-bottom:[footer-height]
}
.footer {
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
    background-color: lightgray;

}

.scrolling-wrapper {
  overflow-x: scroll;


}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}